@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = null;
}
@model IEnumerable<Municipio>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/css/cidade.css" asp-append-version="true" />
</head>
<body>

    <header class="header">
        <a class="navbar-brand" asp-area="" asp-controller="Sampa" asp-action="SaoSebastiao"><img src="~/img/seta-esquerda.png" class="header-image" /></a>
        <h1 class="header-text">@ViewBag.nome</h1>
        <a class="navbar-brand" asp-area="" asp-controller="Sampa" asp-action="Santos"><img src="~/img/seta-direita.png" class="header-image" /></a>
    </header>


    <div class="center">
        <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><img class="home" src="~/img/home.png" alt="home" /></a>
        <a class="navbar-brand" href="https://maps.app.goo.gl/r56fcgZni7C1Aixz9"><img class="home" src="~/img/maps.png" alt="home" /></a>
    </div>
    @foreach (var itanhaem in Model)
    {

        <div class="container">

            <div class="init">
                <div class="part1">
                    <p>
                        @itanhaem.desc
                    </p>
                </div>
                <div class="imgpart"><img class="imgpartimg" src="~/img/itan.jpg" /></div>
            </div>

        </div>

        <div class="final">
            <div class="finalimg"><img class="finalimgimg" src="~/img/itanhaem.jpg" /></div>

            <div class="finaltext">
                <p class="finalp">
                    @foreach (var Historia in itanhaem.Historia)
                    {
                        @Historia.resumoHistorico
                    }
                </p>
            </div>

        </div>

        <div class="final2">
            <div class="finalimg"><img class="finalimgimg" src="~/img/pescados.png" /></div>

            <div class="finaltext">
                <p class="finalp">
                    @foreach (var Produto in itanhaem.Produto)
                    {
                        @Produto.descp
                    }
                </p>
            </div>
        </div>

        <script src="~/js/site.js" asp-append-version="true"></script>
    }
</body>
</html>