@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/css/cidade.css" asp-append-version="true" />
</head>
<body>

    <header class="header">
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Itanhaem"><img src="~/img/seta-esquerda.png" class="header-image" /></a>
            <h1 class="header-text">Santos</h1>
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Guaruja"><img src="~/img/seta-direita.png" class="header-image" /></a>
    </header>


    <div class="center">
          <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><img class="home" src="~/img/home.png" alt="home"/></a>
    </div>

    <div class="container">
        
        <div class="init">
            <div class="part1">
                <p>
                    Santos é uma cidade fundamental no cenário econômico não apenas de São Paulo, mas de todo o Brasil. Sua importância decorre principalmente do Porto de Santos, o maior da América Latina. A cidade é um ponto crucial para importação e exportação, movimentando uma vasta gama de produtos, desde commodities agrícolas até produtos manufaturados. Sua localização estratégica e infraestrutura portuária de alto nível tornam-na um hub vital para o comércio internacional, influenciando diretamente a economia do país.
                </p>
            </div>
            <div class="imgpart"><img class="imgpartimg" src="~/img/san.jpg"/></div>
        </div>
    
    </div>

    <div class="final">
        <div class="finalimg"><img class="finalimgimg" src="~/img/santos.jpg"/></div>

        <div class="finaltext"><p class="finalp">A cidade de Santos tornou-se destaque nessas áreas pelos seguintes fatores: Localização Estratégica; Infraestrutura Portuária; Capacidade de Movimentação; Tecnologia e Logística; Política e Investimentos; Diversificação de Atividades</p></div>

    </div>

    <div class="final2">
        <div class="finalimg"><img class="finalimgimg" src="~/img/soja.webp" /></div>

        <div class="finaltext"><p class="finalp">A soja é essencialmente uma espécie autógama, ou seja, uma planta polinizada por ela mesma e não por outras plantas, mesmo que vizinhas a ela, com flores perfeitas e órgãos masculinos e femininos protegidos dentro da corola</p></div>
    </div>

    <script src="~/js/site.js" asp-append-version="true"></script>
</body>
</html>