@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/css/cidade.css" asp-append-version="true" />
</head>
<body>

    <header class="header">
        <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Guaruja"><img src="~/img/seta-esquerda.png" class="header-image" /></a>
        <h1 class="header-text">São Sebastião</h1>
        <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Itanhaem"><img src="~/img/seta-direita.png" class="header-image" /></a>
    </header>


    <div class="center">
        <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><img class="home" src="~/img/home.png" alt="home" /></a>
    </div>

    <div class="container">

        <div class="init">
            <div class="part1">
                <p>
                    São Sebastião, através do seu porto, tem uma influência significativa na economia de exportação e importação do Brasil, especialmente no setor de petróleo e produtos químicos. Embora não tão grande quanto o Porto de Santos, o Porto de São Sebastião desempenha um papel crucial em certos segmentos, contribuindo para a economia regional e nacional por meio da geração de empregos, arrecadação de receitas e apoio à infraestrutura local.
                </p>
            </div>
            <div class="imgpart"><img class="imgpartimg" src="~/img/sebas.jpg" /></div>
        </div>

    </div>

    <div class="final">
        <div class="finalimg"><img class="finalimgimg" src="~/img/saosebastiao.jpg" /></div>

        <div class="finaltext"><p class="finalp">São Sebastião tornou-se um destaque no quesito exportação principalmente devido ao desenvolvimento estratégico do Terminal Marítimo Almirante Barroso (TEBAR), operado pela Transpetro, uma subsidiária da Petrobras.</p></div>

    </div>

    <div class="final2">
        <div class="finalimg"><img class="finalimgimg" src="~/img/Petroleo.jpg" /></div>

        <div class="finaltext"><p class="finalp">O petróleo é um líquido natural, inflamável, oleoso, de cheiro característico e com densidade menor que a da água. É uma mistura complexa de hidrocarbonetos, ou seja, de substâncias formadas apenas por hidrogênio e carbono. </p></div>
    </div>

    <script src="~/js/site.js" asp-append-version="true"></script>
</body>
</html>